<template>
    <section>
        <div v-if="this.user == null">
            <b-field grouped>
                <b-input id="username" v-model="username" placeholder="Username"></b-input>
                <b-input id="password" v-model="password" placeholder="Password" type="password" password-reveal></b-input>
                <a id="login" class="button is-outlined is-success" @click="login">Log In</a>
            </b-field>
        </div>
        <div  v-if="this.user != null">
            You are logged in as {{user.username}} ({{user.fullName}})
            <a id="logout" class="button is-small is-danger is-outlined" v-if="this.user != null" @click="logout">Logout</a>
        </div>
    </section>
</template>

<script>

import axios from "axios";
import { constants } from 'fs';

export default {
    name: "Authentication",
    data: function() {
        return {
            user: null,
            username: null,
            password: null
        }
    },
    mounted() {
    let token = localStorage.getItem('token');
    if (token) {
      axios.get("/auth/me", {headers: { 'Authorization': `Bearer ${token}`}})
      .then(response => {
              this.user = response.data;
              this.user.token = token;
              this.$emit("loggedIn", this.user);
          }
      )
      .catch(e => {
          localStorage.removeItem('token');
      });
    }
  },
    methods:{
        login() {
            if (this.username && this.password){
                let body = {
                    username: this.username,
                    password: this.password
                };
                axios.post("/auth/login", body)
                    .then(response => {
                            this.user = response.data;
                            this.$emit("loggedIn", this.user);
                        }
                    )
                    .catch(e => {
                        if(e.response.status)
                            this.$snackbar.open({type: 'is-danger', message: String(e.response.status).concat(' ', e.response.data.message)});
                        else
                            this.activeTab = 1;
                    });
            }
        },
        logout() {
            this.user = null;
            this.$emit("loggedOut");
        }
    }
}
</script>


<style>
    .tab-content {
        overflow: initial !important;
    }
</style>
