<template>
<div id="app">
  <section class="hero is-small is-info is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end" v-if="this.user != null">
              <router-link v-if="this.user == null || this.user.role !== 'ROLE_WORKS_ENGINEER'" v-bind:user="this.user" to="/" class="navbar-item">Create request</router-link>
              <router-link v-bind:user="this.user" to="/requests" class="navbar-item">Show requests</router-link>
              <router-link v-bind:user="this.user" to="/pos" class="navbar-item">Purchase orders</router-link>
              <router-link to="/invoices" class="navbar-item">Invoices</router-link>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          BuildIT
        </h1>
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      </div>
    </div>
    <div class="hero-foot">
      <div class="container">
        <authentication @loggedIn="loggedIn" @loggedOut="loggedOut" class="navbar-item"></authentication>
      </div>
  </div>
  </section>
  <router-view @update="updateSubtitle" v-bind:user="this.user"></router-view>
</div>
</template>

<script>
import Authentication from "./components/Authentication.vue";
import axios from "axios"

export default {
  name: 'App',
  components: {
    Authentication
  },
  data: function() {
    return {
      user: null,
      subtitle: ""
    };
  },
  methods: {
    updateSubtitle: function(subtitle) {
      this.subtitle = subtitle
    },
    loggedIn(user) {
      this.user = user;
      localStorage.setItem('token', user.token);
      axios.defaults.headers.common['authorization'] = `Bearer ${user.token}`;
    },
    loggedOut() {
      this.user = null;
      axios.defaults.headers.common['authorization'] = null;
      localStorage.removeItem('token');
    }
  }
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  text-align: left
}

.subtitle {
  text-align: left
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
