<template>
  <div class="container">
    <section>
        <b-field custom-class="is-medium" label="Plant Name">
            <b-input id='name' v-model="query.name"></b-input>
        </b-field>
        <b-field custom-class="is-medium" label="Start date">
            <b-datepicker
                placeholder="Click to select..."
                id="startDate"
                icon="calendar-today"
                type="text"
                v-model="query.startDate"
                :min-date="today"
                :date-formatter="(date) => (date.toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'}))">
            </b-datepicker>
        </b-field>
        <b-field custom-class="is-medium" label="End date">
            <b-datepicker
                placeholder="Click to select..."
                id="endDate"
                icon="calendar-today"
                v-model="query.endDate"
                type=.modal-card-body
                :min-date="today"
                :date-formatter="(date) => (date.toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'}))">
                >
            </b-datepicker>
        </b-field>
        <button
            class="button is-primary is-outlined"
            id="query"
            v-on:click="submit">
            Query
        </button>
    </section>
  </div>
</template>

<script>
export default {
    name: "CatalogQuery",
    props: ['user'],
    data: function() {
        return {
            query: {
                name: "",
                startDate: undefined,
                endDate: undefined,
            },
            today: new Date()
        }
    },
    methods:{
        submit: function() {
            if(Object.values(this.query).every((item) => Boolean(item)))
                this.$emit('submitCatalogQuery', this.query);
            else
                this.$snackbar.open({type: 'is-danger', message: "Inputs must be not empty"});
        }
    }
}
</script>

<style scoped>
.container{
  margin-top: 1em;
}
</style>
