<template>
<div class="container">
  <div class="selectedPlant">
    <table id="PHRData" class="table is-table-bordered is-table-striped is-fullwidth">
      <thead>
        <tr>
          <th class="has-text-center">Name</th>
          <th class="has-text-center">Start Date</th>
          <th class="has-text-center">End Date</th>
          <th class="has-text-center">Price</th>
          <th class="has-text-center">Subtotal</th>
          <th class="has-text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="Object.keys(order.plant).length !== 0">
          <td>{{order.plant.name}}</td>
          <td>{{order.rentalPeriod.startDate}}</td>
          <td>{{order.rentalPeriod.endDate}}</td>
          <td>{{order.plant.price}}</td>
          <td>{{order.total}}</td>
          <td>
            <a id="remove" class="button is-danger is-outlined" @click="remove">Remove</a>
          </td>
        </tr>
      </tbody>
    </table>
    <section>
      <b-field custom-class="is-medium" id="engineerName" label="Engineer name">
        <b-input id="engName" v-model="user.fullName" readonly></b-input>
      </b-field>
      <b-field custom-class="is-medium" id="siteAddress" label="Site address">
        <b-input id="siteId" v-model="order.siteId"></b-input>
      </b-field>
      <button id="submitPHR" class="button is-primary" v-on:click="submit">Create Plant Hire Request</button>
    </section>
  </div>
</div>
</template>

<script>
export default {
  name: "OrderData",
  props: ["order", "user"],
  methods: {
    submit: function() {
      if (Object.values(this.order).every((item) => Boolean(item)))
        this.$emit("submitPHR");
      else
        this.$snackbar.open("Inputs must be not empty");
    },
    remove: function() {
      this.$emit('removePlant')
    }
  }
}
</script>

<style scoped>
.selectedPlant {
  margin-top: 1em;
}

.container {
  margin-top: 1em;
}
</style>
