<template>
<b-tabs type="is-toggle" expanded v-model="activeTab" v-if="this.user != null && this.user.role != 'ROLE_WORKS_ENGINEER'">
  <b-tab-item id="queryCatalog" label="Query catalog">
    <catalog-query :user="this.user" @submitCatalogQuery="handleCatalogQuery">
    </catalog-query>
  </b-tab-item>
  <b-tab-item id="selectPlant" label="Select plant">
    <query-result :user="this.user" :plants="plants" @selectPlant="handlePlantSelection">
    </query-result>
  </b-tab-item>
  <b-tab-item id="reviewRequests" label="Review requests">
    <order-data :user="this.user" :order="order" @submitPHR="handlePHRCreation" @removePlant="handlePlantRemove">
    </order-data>
  </b-tab-item>
</b-tabs>
</template>

<script>
import CatalogQuery from "./CatalogQuery.vue";
import QueryResult from "./QueryResult.vue";
import OrderData from "./OrderData.vue";

import axios from "axios";

export default {
    name: "OrderCreation",
    components: {
        CatalogQuery,
        QueryResult,
        OrderData
    },
    props: ['user'],
    data: function() {
        return {
            activeTab: 0,
            plants: [],
            order: {
                plant: {},
                rentalPeriod: {},
                total: undefined,
                siteId: undefined,
                supplierId: ''
            }
        }
    },
      mounted: function() {
        this.$emit('update', "Request creation");
      },
    methods:{
        handleCatalogQuery: function(query) {
            if (query.name && query.startDate && query.endDate){
                let params = {
                    name: query.name,
                    startDate: query.startDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"}),
                    endDate: query.endDate.toLocaleDateString("lt-LT",{year:"numeric",month:"2-digit", day:"2-digit"})
                };
                axios.get("/api/procurements/plants", {params: params})
                    .then(response => {
                        this.activeTab = 1;
                        this.plants = response.data;
                        this.order.rentalPeriod.startDate = params.startDate;
                        this.order.rentalPeriod.endDate = params.endDate;
                        }
                    )
                    .catch(e => {
                        if(e.response.status)
                            this.$snackbar.open({type: 'is-danger', message: String(e.response.status).concat(' ', e.response.data.message)});
                        else
                            this.activeTab = 1;
                    });
            }
        },
        handlePlantSelection: function(plant) {
            this.order.plant = plant;
            this.order.supplierId = plant.supplier;
            this.order.total = (Math.floor(new Date(this.order.rentalPeriod.endDate) -
                                          new Date(this.order.rentalPeriod.startDate)) /
                                         (1000 * 60 * 60 * 24) + 1) * plant.price;
            this.activeTab = 2;
        },
        handlePlantRemove: function() {
            this.order.plant = {};
            this.activeTab = 1;
        },
        handlePHRCreation: function() {
            let body = {
                siteId: 1,
                supplierId: this.order.supplierId,
                siteEngineerName: this.user.fullName,
                plant: {
                    _id: this.order.plant._id,
                    name: this.order.plant.name,
                    price: this.order.plant.price,
                    href: this.order.plant.href,
                    supplier: this.order.plant.supplier
                },
                period:{
                    startDate: this.order.rentalPeriod.startDate,
                    endDate: this.order.rentalPeriod.endDate
                    },
                cost: this.order.total
            };
            axios.post("/api/procurements/phrs", body)
                .then(response => {
                    this.$snackbar.open("Plant hire request submitted. Waiting for confirmation.");
                }).catch(e => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: String(e.response.status).concat(' ', e.response.data.message)
                    });
                });
        }
    }
}
</script>


<style>
.tab-content {
  overflow: initial !important;
}
</style>
