<template>
<div class="wrapper">
  <table id="queryResult" class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th class="has-text-center">Name</th>
        <th class="has-text-center">Price</th>
        <th class="has-text-center">Supplier</th>
        <th class="has-text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr v-for="plant in plants" :key="plant.id">
            <td>{{plant.name}}</td>
            <td>{{plant.price}}</td>
            <td>{{plant.supplier}}</td>
            <td>
                <a id="select" class="button is-link is-small is-outlined"
                @click="submit(plant)">
                Select plant
                </a>
            </td>
        </tr>
    </tbody>
  </table>
</div>
</template>

<script>
export default {
  name: "QueryResult",
  props: ["plants", "user"],
  methods: {
    submit: function(plant) {
      this.$emit("selectPlant", plant);
    }
  }
}
</script>

<style scoped>
.wrapper {
  margin: 2em;
}
</style>
