<template>
    <div class="invoices">
        <invoice v-bind:user="this.user"></invoice>
    </div>
</template>

<script>
    import Invoice from '@/components/invoices/Invoice.vue'

    export default {
        name: "invoices",
        components: {
            Invoice
        },
        props: ["user"],
        mounted: function() {
            this.$emit('update', "Invoices");
        }
    }
</script>
