<template>
<div class="purchaseOrders">
  <div class="wrapper">
    <table class="table is-table-bordered is-table-striped is-fullwidth">
      <thead>
        <tr>
          <th class="has-text-center">Plant Name</th>
          <th class="has-text-center">Price</th>
          <th class="has-text-center">Start Date</th>
          <th class="has-text-center">End Date</th>
          <th class="has-text-center">Status</th>
          <th class="has-text-center">Supplier</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in orders" :key="order.id">
          <td>{{order.plant.name}}</td>
          <td>{{order.price}}</td>
          <td>{{order.rentalPeriod.startDate.toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'})}}</td>
          <td>{{order.rentalPeriod.endDate.toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'})}}</td>
          <td class="has-text-center">
            <span style="width:80%;" class="tag" :class="type(order.status)"> {{order.status}}</span>
          </td>
          <td>{{order.supplierName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'PurchaseOrders',
  props: ['user'],

  data: function() {
    return {
      orders: []
    }
  },
  mounted: async function() {
      while (this.user == null)
        await new Promise(resolve => setTimeout(resolve, 200))
      axios.get("/api/procurements/orders")
        .then(response => {
          this.orders = response.data;
        });
      this.$emit('update', "Purchase orders");
    },
    beforeUpdate: function() {
      this.orders.forEach(order => {
        order.rentalPeriod.startDate = new Date(order.rentalPeriod.startDate);
        order.rentalPeriod.endDate = new Date(order.rentalPeriod.endDate);
        order.price = (Math.floor(order.rentalPeriod.endDate - order.rentalPeriod.startDate) /
          (1000 * 60 * 60 * 24) + 1) * order.plant.price
      });
    },
    methods: {
      type(value) {
        if (value == 'CLOSED' || value == 'REJECTED') {
          return 'is-danger';
        } else if (value == 'OPEN') {
          return 'is-success';
        } else if (value == 'PENDING') {
          return 'is-warning';
        }
      }
    }
}
</script>

<style scoped>
.wrapper {
  margin: 2em;
}
</style>
