<template>
    <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Extend PO</p>
        </header>
        <section class="modal-card-body">
            <b-field horizontal label="Period">

                <b-datepicker
                        id="endDate"
                        icon="calendar-today"
                        inline
                        :min-date="tempEndDate"
                        :date-formatter="(date) => (date.toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'}))"
                        v-model="endDate">
                </b-datepicker>
            </b-field>
        </section>
        <footer class="modal-card-foot">
            <button id="close" class="button" type="button" @click="$parent.close()">Close</button>
            <button id="extend_modal" class="button is-primary is-outlined" v-on:click="submit">Extend</button>
        </footer>
    </div>
</template>

<script>
    import axios from "axios";
    import BField from "buefy/src/components/field/Field";
    import BDatepicker from "buefy/src/components/datepicker/Datepicker";

    export default {
        name: "ExtendModal",
        components: {BDatepicker, BField},
        props: ['request', 'link'],
        data: function() {
            return {
                endDate: new Date(this.request.period.endDate),
                tempEndDate: new Date(this.request.period.endDate)
            }
        },
        methods: {
            submit: function () {
                this.request.period.endDate = this.endDate.toLocaleDateString("lt-LT", {year:"numeric",month:"2-digit", day:"2-digit"}).split('-').map(Number);
                axios.post(this.link.href, this.request.period.endDate)
                    .then(response => {
                        this.$snackbar.open("Purchase order extended.");
                    }).catch(e => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: String(e.response.status).concat(' ', e.response.data.message)
                    });
                });
            }
        }

    }
</script>
