<template>
    <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Modify request</p>
        </header>
        <section class="modal-card-body">
            <b-field horizontal label="Period">
                <b-datepicker
                    id="startDate"
                    icon="calendar-today"
                    inline
                    :date-formatter="(date) => (date.toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'}))"
                    v-model="query.startDate"></b-datepicker>
                <b-datepicker
                    id="endDate"
                    icon="calendar-today"
                    inline
                    :date-formatter="(date) => (date.toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'}))"
                    v-model="query.endDate"></b-datepicker>
            </b-field>
            <b-field label="Comment">
                <b-input id="comment" v-model="request.comment"></b-input>
            </b-field>
            <b-field label="siteId">
                <b-input id="siteId" v-model="request.siteId"></b-input>
            </b-field>
            <b-field label="siteEngineerName">
                <b-input id="engName" v-model="request.siteEngineerName"></b-input>
            </b-field>
        </section>
        <footer class="modal-card-foot">
            <button id="close" class="button" type="button" @click="$parent.close()">Close</button>
            <button id="modify_modal" class="button is-primary is-outlined" v-on:click="submit">Modify</button>
        </footer>
    </div>
</template>

<script>
    import axios from "axios";
    import BField from "buefy/src/components/field/Field";
    import BDatepicker from "buefy/src/components/datepicker/Datepicker";

    export default {
        name: "ModifyModal",
        components: {BDatepicker, BField},
        props: ['request'],
        data: function() {
            return {
                query: {
                    startDate: new Date(this.request.period.startDate),
                    endDate: new Date(this.request.period.endDate)
                }
            }
        },
        methods: {
            submit: function () {
                this.request.period.startDate = this.query.startDate.toLocaleDateString("lt-LT", {year:"numeric",month:"2-digit", day:"2-digit"}).split('-').map(Number);
                this.request.period.endDate = this.query.endDate.toLocaleDateString("lt-LT", {year:"numeric",month:"2-digit", day:"2-digit"}).split('-').map(Number);
                this.request.cost = (Math.floor(this.query.endDate - this.query.startDate) /
                                    (1000 * 60 * 60 * 24) + 1) * this.request.plant.price;

                axios.patch("/api/procurements/phrs/" + this.request._id, this.request)
                    .then(response => {
                        this.$snackbar.open("Plant hire request resubmitted. Waiting for confirmation.");
                    }).catch(e => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: String(e.response.status).concat(' ', e.response.data.message)
                    });
                });
            }
        }

    }
</script>
