<!-- eslint-disable vue/no-use-v-if-with-v-for,vue/no-confusing-v-for-v-if -->
<template>
    <div class="wrapper">
        <table id="requests" class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th class="has-text-center">Plant</th>
                <th class="has-text-center">Rental period</th>
                <th class="has-text-center">Cost</th>
                <th class="has-text-center">Status</th>
                <th class="has-text-center">Site engineer name</th>
                <th class="has-text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(request, request_index) in requests" :key="request_index">
                <td>
                    {{request.plant.name}} <br/>
                </td>
                <td>{{new Date(request.period.startDate).toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit',
                    day: '2-digit'})}} -
                    {{new Date(request.period.endDate).toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit',
                    day: '2-digit'})}}
                </td>
                <td class="has-test-center">{{request.cost}}</td>
                <td class="has-test-center" v-if="request.invoice == null">{{request.status}}</td>
                <td class="has-test-center" v-else>Invoice received</td>
                <td class="has-test-center">{{request.siteEngineerName}}</td>
                <td>
          <span v-for="link in request._xlinks" :key="link.rel" v-if="link.rel !== 'self'">
            <span v-if="request.status ==='PENDING' && link.rel !== 'cancel'  ||
                                    link.rel === 'modify' && request.status === 'REJECTED_BY_SUPPLIER'">
                <a v-if="link.rel !== 'modify' && user.role !== 'ROLE_SITE_ENGINEER'" :class="{ 'is-danger': link.rel === 'reject',
                      'is-success': link.rel === 'accept'
                      }"
                   class="button is-small is-outlined is-link"
                   :id="link.rel"
                   @click="followLink(link, request_index)">
                    {{link.rel}}
                </a>
                <a v-if="link.rel === 'modify'"
                   class="button is-small is-outlined is-link"
                   :id="link.rel"
                   @click="followLink(link, request_index)">
                    {{link.rel}}
                </a>
            </span>
            <a v-if="user.role !== 'ROLE_WORKS_ENGINEER' && link.rel === 'cancel'"
               class="button is-small is-outlined is-link is-warning" :id="link.rel"
               @click="followLink(link, request_index)">
              Cancel
            </a>
            <a v-if="link.rel === 'extend' && request.status==='ACCEPTED_BY_SUPPLIER' && user.role !== 'ROLE_WORKS_ENGINEER'"
               class="button is-small is-outlined is-link is-success" :id="link.rel"
               @click="extendModal(link, request_index)">
              Extend
            </a>
          </span>
                    <a class="button is-link is-small is-outlined" id="details" @click="requestModal(request)">
                        Details
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import axios from "axios";
    import Vue from "vue";
    import RequestModal from "./RequestModal.vue";
    import ModifyModal from './ModifyModal.vue'
    import ExtendModal from './ExtendModal.vue'


    export default {
        name: "Requests",
        props: ['user'],
        data: function () {
            return {
                requests: []
            }
        },
        mounted: async function () {

            while (this.user == null)
                await new Promise(resolve => setTimeout(resolve, 200))
            axios.get("/api/procurements/phrs")
                .then(response => {
                    this.requests = response.data;
                });
            this.$emit('update', "Requests");
        },
        methods: {
            requestModal: function (request) {
                this.$modal.open({
                    parent: this,
                    component: RequestModal,
                    props: {request: request}
                });


            },
            modifyModal: function (request) {
                this.$modal.open({
                    parent: this,
                    component: ModifyModal,
                    props: {request: request}
                });
            },
            extendModal: function (link, request_index) {
                this.$modal.open({
                    parent: this,
                    component: ExtendModal,
                    props: {request: this.requests[request_index], link: link}
                });
            },
            followLink: function (link, request_index) {
                if (link.rel !== 'modify') {
                    axios({
                        method: link.method,
                        url: link.href
                    }).then(response => {
                        Vue.set(this.requests, request_index, response.data);
                    }).catch(e => {
                        this.$snackbar.open({
                            type: 'is-danger',
                            message: String(e.response.status).concat(' ', e.response.data.message)
                        });
                    });
                } else {
                    this.modifyModal(this.requests[request_index]);
                }
            }
        }
    }
</script>

<style scoped>
    .button {
        margin-right: 5px !important;
        text-transform: capitalize;
    }

    .wrapper {
        margin: 2em;
    }
</style>
