<template>
<div class="modal-card" style="width: auto">
    <header class="modal-card-head">
        <p class="modal-card-title">Request info</p>
    </header>
    <section class="modal-card-body">
        <b-field id="site" label="Site">
            <b-input v-model="request.siteId" readonly></b-input>
        </b-field>
        <b-field id="supplier" label="Supplier">
            <b-input v-model="request.supplierId" readonly></b-input>
        </b-field>
        <b-field id="cost" label="Cost">
            <b-input v-model="request.cost" readonly></b-input>
        </b-field>
        <b-field id="engineer" label="Engineer">
            <b-input v-model="request.siteEngineerName" readonly></b-input>
        </b-field>
        <b-field id="startDate" label="Start date">
            <b-input v-model="new Date(request.period.startDate).toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'})" readonly></b-input>
        </b-field>
        <b-field id="endDate" label="End date">
            <b-input v-model="new Date(request.period.endDate).toLocaleDateString('de-AT', {year: 'numeric', month: '2-digit', day: '2-digit'})" readonly></b-input>
        </b-field>
        <b-field id="plantName" label="Plant name">
            <b-input v-model="request.plant.name" readonly></b-input>
        </b-field>
        <b-field id="plantPrice" label="Plant price">
            <b-input v-model="request.plant.price" readonly></b-input>
        </b-field>
        <b-field id="comment" label="Commentary">
            <b-input v-model="request.comment" readonly></b-input>
        </b-field>
        <b-field id="status" label="Status">
            <b-input v-model="request.status" readonly></b-input>
        </b-field>
    </section>
    <footer class="modal-card-foot">
        <button id="close" class="button" type="button" @click="$parent.close()">Close</button>
    </footer>
</div>
</template>

<script>
export default {
    name: "RequestModal",
    props: ['request']
}
</script>
