<template>

    <div>
        <div class="wrapper">
            <table id="invoices" class="table is-striped is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Id</th>
                    <th class="has-text-centered">Date</th>
                    <th class="has-text-centered">Cost</th>
                    <th class="has-text-centered">Status</th>
                    <th class="has-text-centered">Link</th>
                    <th class="has-text-centered">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(invoice, invoice_index) in invoices" :key="invoice_index">
                    <td class="has-test-left">{{invoice._id}}</td>
                    <td class="has-text-centered">{{new
                        Date(invoice.invoice.invoiceDate).toLocaleDateString("de-AT",{year:"numeric",month:"2-digit",
                        day:"2-digit"})}}
                    </td>
                    <td class="has-text-centered">{{invoice.cost}}</td>
                    <td class="has-text-centered has-text-info">{{invoice.invoice.status}}</td>
                    <td class="has-text-centered">
                        <a class="button is-small is-outlined is-link" id="order"
                           @click="getOrder(invoice.purchaseOrder.href)">Order</a>
                    </td>
                    <td class="has-text-centered">
                        <a v-for="link in invoice._xlinks" :key="link.rel"
                           v-if="(link.rel === 'accept' || link.rel === 'reject') && invoice.invoice.status !=='APPROVED' && user.role !== 'ROLE_WORKS_ENGINEER'"
                           :class="{ 'is-danger': link.rel === 'reject invoice',
                              'is-success': link.rel === 'accept invoice'}"
                           class="button is-small is-outlined is-link" :id="link.rel"
                           @click="followLink(link, invoice_index)">
                            {{link.rel}}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import Vue from 'vue'
    import OrderModal from './OrderModal.vue'

    export default {
        name: "Invoice",
        props: ["user"],
        data: function () {
            return {
                invoices: []
            }
        },
        mounted: async function () {
            while (this.user == null)
                await new Promise(resolve => setTimeout(resolve, 200))
            axios.get("/api/procurements/phrs/invoice")
                .then(response => {
                    this.invoices = response.data;
                });
        },
        methods: {
            getOrder: function (link) {
                axios.get(link)
                    .then(response => {
                        this.$modal.open({
                            parent: this,
                            component: OrderModal,
                            props: {
                                order: response.data
                            }
                        });
                    }).catch(e => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: String(e.response.status).concat(' ', e.response.data.message)
                    })
                });
            },
            followLink: function (link, invoice_index) {
                axios({
                    method: link.method,
                    url: link.href
                }).then(response => {
                    Vue.set(this.invoices, invoice_index, response.data);
                }).catch(e => {
                    this.$snackbar.open({
                        type: 'is-danger',
                        message: String(e.response.status).concat(' ', e.response.data.message)
                    })
                });
            }
        }

    }
</script>

<style scoped>
    .button {
        margin-right: 5px !important;
        text-transform: capitalize;
    }

    .wrapper {
        margin: 2em;
    }
</style>
